<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla aliquam temporibus aspernatur consequatur, at quasi saepe! Eaque id facere minus, voluptates dicta, reiciendis, repudiandae consequatur incidunt dolorem quod nam inventore.</p>
</div>